body {
    background-color: rgb(110, 134, 150);
    color: rgb(36, 36, 36);
    /*background-image: url("../img/bg.jpg");*/
    background-size: cover;
}

#grid {
    display:grid;
    gap: 10px;
    grid-template-areas: ". h h h ."
                         ". n n n ."
                         ". s s a ."
                         ". f f f .";
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
}

#grid > header {
    grid-area: h;
    background-image: url("../img/html5.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    height:100px;
}

#grid > nav {
    grid-area: n;
    text-align: center;
    background-color: orangered;
    box-shadow: -1px 1px 7px 1px;
    padding: 5px;
}   

#grid > nav > a {
    background-color: white;
    color: inherit;
    border-radius: 2px;
    border: 1px solid transparent;
    padding:2px;
    text-decoration: none;
    transition: 0.4s ease;
}

#grid > nav > a:hover, #grid > nav > a:focus{
background-color: orangered;
border-color: white;
color: white;
}

#grid > section {
    grid-area: s;
    background-color: white;
    color: inherit;
    padding: 10px;
    box-shadow: -1px 1px 7px 1px;
}

#grid > aside {
    grid-area: a;
    background-color: white;
    color: inherit;
    padding: 10px;
    box-shadow: 1px 1px 7px 1px;
}

#grid > footer {
    grid-area: f;
    background-color: white;
    color: inherit;
    padding: 10px;
    box-shadow: -1px 1px 7px 1px;
}

#grid > footer > a{
    text-decoration-line: none;
    color: black;
}

#grid > footer > a > strong{
    padding-left: 10px;
}

#grid > footer > img {
    margin:5px;
}

#grid > footer > table{
    padding-left: 10px;
    padding-top: 3px;
}

#grid > footer > ul {
    list-style: none;
}